In [11]:
print("Student Information:")
print("Deepthi Mol T S")
print("9881238968")
print("deepthigireesh2@gmail.com")

Student Information:
Deepthi Mol T S
9881238968
deepthigireesh2@gmail.com

In [13]:
    
    print("Student Information:\n")
    print("Name:\t Deepthi Mol T S")
    print("Student Number:\t 9881238968")
    print("Email Address:\t deepthigireesh2@gmail.com")

Student Information:

Name:	 Deepthi Mol T S
Student Number:	 9881238968
Email Address:	 deepthigireesh2@gmail.com

In [15]:
a = 14
b = 7

addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b

print("\nArithmetic Operations:")
print("\n Sum of a and b is :", a+b)
print("\n Subtraction of a and b :", a-b)
print("\n Multiplication of a and b :", a*b)
print("\n Division of a and b :", a/b)

Arithmetic Operations:

 Sum of a and b is : 21

 Subtraction of a and b : 7

 Multiplication of a and b : 98

 Division of a and b : 2.0

In [23]:
print("\nNumber from 1 to 6:")
for i in range(1, 6):
    print(i)

Number from 1 to 6:
1
2
3
4
5

In [51]:
print("\n\"SDK\" stands for \"Software Development Kit\",\nWhereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit",
Whereas
"IDE" stands for "Integrated Development Environment".

In [53]:
print("python ia an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri","2023", sep= "\n")
print("Entri","2023", sep= "\b")
print("Entri","2023", sep= "*",end ="\b\b\b\b")

python ia an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [55]:
num = 23
textnum = "57"
decimal = 98.3

print("\nVariable Types:")
print(f"Type of num: {type(num)}")
print(f"Type of textnum: {type(textnum)}")
print(f"Type of decimal: {type(decimal)}")

total_sum = num + int(textnum) + decimal

print("\nSum of variables:", total_sum)
print("Type of sum:", type(total_sum))

Variable Types:
Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>

Sum of variables: 178.3
Type of sum: <class 'float'>

In [57]:
print("\nThis program calculates the total number of minutes in a year.")
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour

print(f"Number of days in a year: {days_in_year}")
print(f"Number of hours in a day: {hours_in_day}")
print(f"Number of minutes in an hour: {minutes_in_hour}")
print(f"Total number of minutes in a year: {total_minutes_in_year}")

This program calculates the total number of minutes in a year.
Number of days in a year: 365
Number of hours in a day: 24
Number of minutes in an hour: 60
Total number of minutes in a year: 525600

In [59]:
user_name = input("Please enter your name: ")
print(f"Hi {user_name}, welcome to Python programming :)")

Please enter your name:  Deepthi Gireesh

Hi Deepthi Gireesh, welcome to Python programming :)

In [61]:
pounds = float(input("\nPlease enter amount in pounds: "))
exchange_rate = 1.38  # Example exchange rate, update as needed
dollars = pounds * exchange_rate
print(f"\u00A3 {pounds} are $ {dollars:.2f}")

Please enter amount in pounds:  500

Â£ 500.0 are $ 690.00